In [ ]:
import re
import sys
import csv
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

!unzip bbc-news-data.csv.zip

Saving bbc-news-data.csv.zip to bbc-news-data.csv.zip
Archive:  bbc-news-data.csv.zip
  inflating: bbc-news-data.csv

In [ ]:
csv.field_size_limit(sys.maxsize)

dataset = pd.read_csv('bbc-news-data.csv',sep='\t')

print(dataset.shape)
dataset.head()

(2225, 4)

   category  ...                                            content
0  business  ...   Quarterly profits at US media giant TimeWarne...
1  business  ...   The dollar has hit its highest level against ...
2  business  ...   The owners of embattled Russian oil giant Yuk...
3  business  ...   British Airways has blamed high fuel prices f...
4  business  ...   Shares in UK drinks and food firm Allied Dome...

[5 rows x 4 columns]

In [ ]:
text = dataset['content']

print(text.shape)
text.head()

(2225,)

0     Quarterly profits at US media giant TimeWarne...
1     The dollar has hit its highest level against ...
2     The owners of embattled Russian oil giant Yuk...
3     British Airways has blamed high fuel prices f...
4     Shares in UK drinks and food firm Allied Dome...
Name: content, dtype: object

In [ ]:
data = []

for i in range(0,len(text)):
  sentences = re.split(r'(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?)\s',text[i])
  for sentence in sentences:
    sentence = re.sub(r'\s+',' ',sentence)       # replacing extra spaces with single space
    sentence = sentence.strip()
    #sentence = sentence.split(' ')
    if sentence.endswith('.'):
      sentence = sentence[:-1]
    data.append(sentence)

In [ ]:
print(len(data))

for i in range(0,5):
  print(data[i])

40339
Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (£600m) for the three months to December, from $639m year-earlier
The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales
TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn
Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL
Time Warner said on Friday that it now owns 8% of search-engine Google

In [ ]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [ ]:
ner = NER(data[0])
for word in ner.ents:
  print(word.text,word.label_)

displacy.render(ner,style="ent",jupyter=True)

Quarterly DATE
US GPE
TimeWarner ORG
76% PERCENT
1.13bn MONEY
600 MONEY
the three months to December DATE
639 MONEY
year-earlier DATE

In [ ]:
dataset = []

for j in range(len(data)):
  tokens = []
  ner = NER(data[j])
  for i in range(len(ner)):
    tokens.append([ner[i].text,str(ner[i].ent_iob_)+" "+str(ner[i].ent_type_)])
  dataset.append(tokens)

print(dataset[0])

[['Quarterly', 'B DATE'], ['profits', 'O '], ['at', 'O '], ['US', 'B GPE'], ['media', 'O '], ['giant', 'O '], ['TimeWarner', 'B ORG'], ['jumped', 'O '], ['76', 'B PERCENT'], ['%', 'I PERCENT'], ['to', 'O '], ['$', 'O '], ['1.13bn', 'B MONEY'], ['(', 'O '], ['£', 'O '], ['600', 'B MONEY'], ['m', 'O '], [')', 'O '], ['for', 'O '], ['the', 'B DATE'], ['three', 'I DATE'], ['months', 'I DATE'], ['to', 'I DATE'], ['December', 'I DATE'], [',', 'O '], ['from', 'O '], ['$', 'O '], ['639', 'B MONEY'], ['m', 'O '], ['year', 'B DATE'], ['-', 'I DATE'], ['earlier', 'I DATE']]

In [ ]:
import json

print(len(dataset))
with open('dataset.json','w',encoding='utf-8') as f:
  json.dump(dataset,f,indent=2)

40339